/* Render JSON */
.renderjson a { text-decoration: none; }
.renderjson .disclosure { color: crimson; font-size: 150%; }
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }

/* WP_Query Console */
/* Form */
#wpqc-query-type { margin-top: 10px }
#wpqc-type-label { margin-top: 13px; margin-right: 5px; display: block; float: left; }
#wpqc-btn-execute { margin-top: 10px; float: right; clear: none}
#wpqc-btn-execute i { margin-top: 3px; }
/* Result */
#lwqc_query_result{ padding: 23px }
#lwqc_query_result .welcome-panel-content{ margin-left: 0 }
#lwqc_query_result .welcome-panel-content h3{ margin-top: 0 }
#wpqc-no-data span{ font-size: 40px; margin-bottom: 10px ; width: 40px; height: 40px}
#wpqc-no-data, #wpqc-no-data h3{ text-align: center; }
